/*
|----------------------------------------------------------------------------
	Responsive
|----------------------------------------------------------------------------
*/

@media screen and (max-width: 1199px) {
    .navbar .nav-item .nav-link {
        margin-left: 10px;
    }
    .menu-btn .nav-btn {
        margin-left: 20px;
    }
    .banner-section .home-img img {
        height: 50vh;
    }
}

@media screen and (max-width: 991px) {
    .navbar-toggler {
        margin-bottom: 30px;
        z-index: 999;
    }
    .navbar-toggler i.active::before {
        content: "\f00d";
        color: red;
        border: none;
    }
    .navbar-nav {
        position: fixed;
        left: -100%;
        top: 0;
        background: #111;
        width: 100%;
        height: 100vh;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar-nav.active {
        left: 0;
    }
    .navbar .nav-item .nav-link {
        align-items: left;
        justify-content: left;
        display: block;
        line-height: 20px;
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 500;
        color: #fff!important;
        transition: 0.15s;
        position: relative;
        margin: 20px 0 0;
        margin-left: 40px;
    }
    .navbar .nav-item .nav-link::before {
        align-items: left;
        justify-content: left;
        content: '';
        position: absolute;
        left: -34%;
        bottom: 0;
        right: 0;
        height: 1px;
        color: #fff;
        background: #fff!important;
        transition: all 0.5s ease;
        transform: scale(0);
        display: none;
    }
    .navbar .nav-item .nav-link.active:hover,
    .navbar .nav-item .nav-link:hover {
        color: #4169E1!important;
    }
    .menu-btn .nav-btn {
        margin-top: 20px;
    }
    .banner-section .banner-content h1 {
        font-size: 40px;
        color: #fff;
    }
    .home-img {
        margin-top: 20px;
    }
    .banner-section .home-img img {
        height: 30vh;
    }
}

@media screen and (max-width: 767px) {
    .navbar .nav-item .nav-link.active:hover,
    .navbar .nav-item .nav-link:hover {
        color: #4169E1!important;
    }
    .banner-section .banner-content h1 {
        font-size: 35px;
        color: #fff;
    }
    .home-img {
        margin-top: 30px;
    }
    .about-img {
        margin-top: 30px;
    }
}

@media screen and (max-width: 575px) {
    .navbar .nav-item .nav-link.active:hover,
    .navbar .nav-item .nav-link:hover {
        color: #4169E1!important;
    }
    .home-img {
        margin-top: 40px;
    }
}

@media screen and (max-width: 480px) {
    .navbar .nav-item .nav-link.active:hover,
    .navbar .nav-item .nav-link:hover {
        color: #4169E1!important;
    }
    .banner-section .banner-content h1 {
        font-size: 32px;
        color: #fff;
    }
    .home-img {
        margin-top: 20px;
    }
}

@media screen and (max-width: 420px) {
    .navbar .nav-item .nav-link.active:hover,
    .navbar .nav-item .nav-link:hover {
        color: #4169E1!important;
    }
    .banner-section .home-img img {
        height: 40vh;
    }
}

@media screen and (max-width: 375px) {
    .navbar .nav-item .nav-link.active:hover,
    .navbar .nav-item .nav-link:hover {
        color: #4169E1!important;
    }
    .banner-section .home-img img {
        height: 30vh;
    }
}

@media screen and (max-width: 360px) {
    .navbar .nav-item .nav-link.active:hover,
    .navbar .nav-item .nav-link:hover {
        color: #4169E1!important;
    }
}

@media screen and (min-height: 1440px) and (min-width: 1080px) {
    .navbar .nav-item .nav-link {
        margin-left: 40px;
    }
    .banner-section .home-img img {
        height: 20vh;
    }
}

@media screen and (max-height: 533px) {
    .banner-section .banner-content h1 {
        font-size: 20px;
        color: #fff;
        margin-bottom: 10px;
    }
    .banner-section .banner-content p {
        font-size: 12px;
        color: #fff;
        margin-bottom: 10px;
    }
    .home-img {
        margin-top: 10px;
    }
    .banner-section .home-img img {
        height: 30vh;
    }
    .btn {
        width: 130px;
        height: 40px;
    }
}